@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "tailwindcss";



@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    @apply text-base font-normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  em {
    @apply italic;
  }
}